@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-scan {
        position: relative;
        overflow: hidden;
    }

    .animate-scan::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom,
                transparent,
                rgba(34, 211, 238, 0.2) 50%,
                transparent);
        animation: bio-scan 2s linear infinite;
    }

    @keyframes bio-scan {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(100%);
        }
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}